.aboutBag{
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/f2bb97125257357.61152ef1e53f2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* width: 100vw;
    height: 100%; */
}